In [4]:
import pandas as pd
import mysql.connector

def upload_data_to_mysql(file_path, table_name, column_names, connection_params):
    df = pd.read_csv(file_path)
    conn = mysql.connector.connect(**connection_params)
    cursor = conn.cursor()

    # Prepare SQL insert statement
    placeholders = ', '.join(['%s'] * len(column_names))
    columns = ', '.join(column_names)
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

    # Upload data row by row
    for row in df.itertuples(index=False):
        cursor.execute(sql, tuple(row))

    conn.commit()
    cursor.close()
    conn.close()
    print(f"Data from {file_path} uploaded to {table_name} successfully.")

# Connection parameters for MySQL
connection_params_london = {
    'host': 'localhost',
    'user': '****',
    'password': '****',
    'database': 'london_db'
}

connection_params_paris = {
    'host': 'localhost',
    'user': '****',
    'password': '****',
    'database': 'paris_db'
}

connection_params_newyork = {
    'host': 'localhost',
    'user': '****',
    'password': '****',
    'database': 'newyork_db'
}

# Upload data for London
upload_data_to_mysql('MockData/london_customers.csv', 'london_customers', ['Customer_ID', 'Customer_Name'], connection_params_london)
upload_data_to_mysql('MockData/london_inventory.csv', 'london_inventory', ['Product_ID', 'Product_Name', 'Price'], connection_params_london)
upload_data_to_mysql('MockData/london_sales.csv', 'london_sales', ['Order_ID', 'Customer_ID', 'Product_ID', 'Quantity'], connection_params_london)

# Upload data for Paris
upload_data_to_mysql('MockData/paris_clients.csv', 'paris_clients', ['Identifiant_Client', 'Nom_Client'], connection_params_paris)
upload_data_to_mysql('MockData/paris_inventaire.csv', 'paris_inventaire', ['Identifiant_Produit', 'Nom_Produit', 'Prix_Unitaire'], connection_params_paris)
upload_data_to_mysql('MockData/paris_ventes.csv', 'paris_ventes', ['Numero_Vente', 'Identifiant_Client', 'Identifiant_Produit', 'Quantit√©'], connection_params_paris)

# Upload data for New York
upload_data_to_mysql('MockData/nyc_customers.csv', 'nyc_customers', ['Customer_ID', 'Name'], connection_params_newyork)
upload_data_to_mysql('MockData/nyc_inventory.csv', 'nyc_inventory', ['Product_ID', 'Product_Name', 'Unit_Price'], connection_params_newyork)
upload_data_to_mysql('MockData/nyc_transactions.csv', 'nyc_transactions', ['Transaction_ID', 'Customer_ID', 'Product_ID', 'Quantity'], connection_params_newyork)

Data from MockData/london_customers.csv uploaded to london_customers successfully.
Data from MockData/london_inventory.csv uploaded to london_inventory successfully.
Data from MockData/london_sales.csv uploaded to london_sales successfully.
Data from MockData/paris_clients.csv uploaded to paris_clients successfully.
Data from MockData/paris_inventaire.csv uploaded to paris_inventaire successfully.
Data from MockData/paris_ventes.csv uploaded to paris_ventes successfully.
Data from MockData/nyc_customers.csv uploaded to nyc_customers successfully.
Data from MockData/nyc_inventory.csv uploaded to nyc_inventory successfully.
Data from MockData/nyc_transactions.csv uploaded to nyc_transactions successfully.